.image{
    height: 45vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}
.info{
    display: none;
}
.if:hover .info{

    display: flex;
    align-items:space-around;
    justify-content: space-around; 
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
}

.info div{
    text-align: center;
}
img{
    height:30vh;
    border: 2px solid black;

}
.if:hover img{
    height:50vh;
}
.movies{
    background: rgb(98, 111, 136);
    font-size: 22px;
    color:white;
    height: 20vh;
    width: 100vw;
    display:flex;
    
    align-items: center;
}
.movies h1{
    margin-left: 20vw;
}
.if{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45vh;
    width: 100vw;
    background: rgb(35, 59, 104);
    color:white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    
}
.if:hover{
    height: 70vh;
    justify-content: space-around;
}