<div class="banner">
    <h1>¡¡¡Reserva tu Pelicula!!!</h1>
</div>
<div class="fondo">
    <div class="reserva">
        <div class="name">
            <label for="">Nombre   </label>
            <input type="text" placeholder="Nombre" [(ngModel)]="reserva.name" name="name">
        </div>
        <div class="email">
            <label for="">Email   </label>
            <input type="text" placeholder="Email" [(ngModel)]="reserva.email" name="email">
        </div>
        <div class="tickets">
            <label for="">Entradas   </label>
            <input type="text" placeholder="Entradas" [(ngModel)]="reserva.tickets" name="tickets">
        </div>
        <div class="submit" (click)="reserve()">
            <h4>Reservar</h4>
        </div>
    </div>
</div>


